<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <nav class="navbar">
      <ul>
        <li class="li-inline nav-item"><a href="/">Home</a></li>
        <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
        {{#if logged_in}}
        <li class="li-inline nav-item"><a href="/dashboard">dashboard</a></li>
        <li class="li-inline nav-item" id="logout"><a href="/">logout</a></li>
        {{else}}
        <li class="li-inline nav-item"><a href="/login">login</a></li>
        {{/if}}
        </ul>
        <!-- Conditionally render login or logout links -->
    </nav>
  </div>   
  <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
  </header>
  <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
  </main>



  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
