{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
         <div>
      <a href="/signup">Create a account</a>
    </div>
    </form>
  </div>
   
  </div>

  <script src="/js/login.js"></script> --}}

      <div class="card">
      <h3 class="card-header">LOGIN</h3>
      <form id="login-form" class="card-body">
        <label class="form-label" for="username-login">USERNAME</label>
        <input  id="username-login" type="text" autofocus="true" class="form-input" />

        <label class="form-label" for="password-login">PASSWORD</label>
        <input id="password-login" type="password" autofocus="true" class="form-input" />

        <button type="submit" class="btn">LOGIN +</button>
        <a class="login-link" href="/signup">Sign up instead</a>
      </form>
    </div>
    
<script src="/js/login.js"></script>